body {
    margin: 0;
    font-family: monospace;
}

#vehicle-header {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 143, 143);
    height: 4rem;
    padding: 1rem;
}

#vehicle-collection {
    margin: 2px;
}

.add-container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background-color: rgb(0, 143, 143);
}

.search-container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background-color: rgb(0, 143, 143);
}

.input-text {
    border-radius: 5px;
    margin: 3px;
    width: 30%;
}

.card {
    text-align: center;
    border: rgb(0, 0, 0) solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 12rem;
    display: inline-grid;
    margin: 1rem 2rem;
  }